/* ----------------------- 1.1	RESET ------------------------------------------ */         	

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background-color: transparent; }
	
body {
	line-height: 1; }
	
.header ol, .header ul {
	list-style: none; }
	

/* ----------------------- 1.2	ACCESSIBILITY NAVIGATION ----------------------- */	

#accessibility-nav {
	position: absolute;
	left: -1000em;
	text-align: left; }


/* ----------------------- 1.3	DEFAULT STYLES --------------------------------- */	

body {
	background-color: #F2F5E1;
	/*background-color: #042e14;*/
	/*text-align: center;*/
	/*color: #3b3b3b;*/	}

a, a:active {
	color: #516B36;
	text-decoration: none;
	/*color: #648344;*/ }
	
a:hover {
	color: #005130;
	text-decoration: underline;	} 
	

/* ----------------------- 2.0 LAYOUT ------------------------------------------ */

div.header, div.footer, div.content-inside { 
	width: 960px;
	/*height: 100%; */
	font-size: 1.2em;  
	margin: 0 auto; }
	
div.header {
	background-color: #8FAF6E;
	/*background-color: #8FAF6E;*/ }	
	
/* controls color of search box bg */
input.input-text {
	background: #b2c794; 
	color: #124f31; 
	border: none; }	
	
div.footer-wrap { 
	padding-bottom: 40px;
	text-align: left;
	background-color: #2e513a;
	/*background-color: #2e513a;*/ 
	/*background-color: #042e14;*/
	/*position: relative;*/ }	
	
/*.mainfooter {
	width: 100%;
	height: 200px;
	padding-top: 29px;
	position: relative;
	bottom: 0;
	background-color: #2e513a; }*/
	/*background-color: #042e14;*/ 


/* ----------------------- 2.1 HEADER ------------------------------------------ */        	

div.top-nav {
	height: 30px;
	margin-bottom: 0px;		
	overflow: hidden;
	position: relative;
	right: 0px;
	background-color: #F2F5E1; }

div.top-nav ul {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #000;
	width: 610px;
	margin-left: 400px; 
	margin-top: 2px; }
			
div.top-nav li {
	display: block;
	float: left;
	margin-right: 7px;
	padding-top: 7px }
				
div.top-nav li.last, div.top-nav li.search {
	margin-right: 0; }
				
div.top-nav li.last a {
	border: 0; }	
				
div.top-nav li a {
	float: left;
	display: block;
	border-right: 1px solid #b2c794; 
	padding-right: 7px;
	color: #005130; }	
			
div.top-nav li form {
	width: 154px;
	height: 19px;
	overflow: hidden;
	position: absolute;
	float: left;
	top: 5px;
	right: 0px; }
				
div.top-nav li form input.input-text {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	letter-spacing: 0px;
	width: 133px;
	height: 19px;
	padding-left: 6px;
	float: left; }
				
div.top-nav li form #bt-search {
	width: 14px;
	height: 19px; 
	float: left; }		

div.header {
	padding-bottom: 0px;
	background-color: #8FAF6E;
	/*background-color: #8FAF6E;*/
	position: relative;
	z-index: 99; }
		
div.header img {				
	display: block; }
	
.toplogo {
	width: 577px; }	
									

/* ----------------------- 2.2 CONTENT ------------------------------------------- */        
.container {
	width: 960px;
	min-height: auto;	
	margin: 0px auto;
	background-color: #FFF;
	/*height: 100%;*/
	/*background: url(../img/bg.png) repeat-y;*/ }

.spacer {
	width: 960px;
	background-color: transparent; }
	
.content-only {
	width: 910px;
	background-color: #FFF;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 30px;
	padding-bottom: 20px; }

.content-left {
	width: 710px;
	background-color: transparent;
	float: left; }
	
.content-right {
	width: 250px;
	background-color: transparent;
	float: left; }	
	
.maingraphic {
	width: 940px;
	padding-left: 20px;
	background-color: transparent; }
	
.maincontent {
	width: 690px;
	padding-left: 20px;
	background-color: transparent; }

.leftnav {
	width: 163px;
	background-color: transparent;
	float: left; }

.pagecopy {
	width: 477px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 30px;
	padding-bottom: 20px;
	background-color: transparent;
	float: left; }
	
.pagecopy p {
	padding-bottom: 20px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #000;
	line-height: 16px;
	background-color: transparent; }
	
.pagecopy h2 {
	padding-bottom: 10px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px; 
	color: #000;
	line-height: 22px;
	background-color: #FFF; }
	
.pagecopy h3 {
	padding-bottom: 20px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px; 
	color: #000;
	font-weight: bold;
	line-height: 18px;
	background-color: #FFF; }
	
.pagecopy h4 {
	padding-bottom: 20px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px; 
	color: #000;
	font-weight: bold;
	line-height: 16px;	
	background-color: #FFF; }		
	
.pagecopy ul {
	margin-bottom: 20px;
	margin-left: 15px; 
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #000;
	line-height: 22px;
	background-color: #FFF; }
	
.pagecopy ol {
	padding-bottom: 15px;
	margin-left: 15px; 
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #000;
	line-height: 22px;
	background-color: #FFF; }	
	
.pagecopy li {
	margin-bottom: 0px;
	line-height: 16px; }
	
.breadcrumb {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10.5px; 
	color: #666;
	background-color: #FFF; }
	
.byline {
	font-size: 10.5px;
	color: #666;
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: 1px; }
	
.imageleft {
	float: left;
	margin-right: 15px;
	margin-bottom: 15px; }
	
.photocaption {
	font-size: 10.5px;
	color: #666;
	font-style: italic; }
	
.title {
	color: #333; }
	
.content-only h2 {
	padding-bottom: 10px;
	margin-left: 20px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px; 
	color: #000;
	line-height: 22px;
	background-color: #FFF; }
	
.content-only p {
	padding-bottom: 20px;
	margin-left: 20px; 
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #000;
	line-height: 16px;
	background-color: transparent; }
	
.embedded-hd-video {
	margin-left: 95px; }
	
.embedded-video-lg {
	width: 720px;
	margin: auto;
	padding-top: 15px;
	padding-bottom: 30px;
	display: block;
	z-index: -1;
	background-color: transparent; }

.embedded-video-sm {
	width: 198px;
	margin: auto;
	padding-bottom: 16px;
	display: block;
	background-color: transparent; }
	
.table {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #000;	
}

		
/* ----------------------- 2.3 LEFT NAVIGATION ---------------------------------- */         

.pad_csnav { 
	padding: 0px 0 0 0px; }

.cs_left_nav2 {
	width: 163px;
	margin-top: 20px;
	margin-bottom: 50px;	
	float: left;
	background-color: #e5e8d5;
	/*background-color: #274531;*/
	/*background-color: #355d42;*/
	/*background-color: #BDCBA7;*/
	/*min-height: 430px;*/	
	/*background: url(http://rliwag.law.miami.edu/img/cs_left_nav_bg2.jpg) no-repeat bottom;*/
	/*background-color: #9da9a1;*/
	/*background-color: transparent;*/ }


/* ----------------------- 2.4 LEFT NAVIGATION ELEMENTS ------------------------- */         

.menu1 { 
	width: 143px; 
	background-color: #BDCBA7;
	/*background-color: #BDCBA7;*/
	border-bottom: 1px solid #a8b495;
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 10.5px;
	color: #2b3122;
	line-height: 13px;
	letter-spacing: 0px; 
	text-decoration: none; 
	text-transform: none;
	/*background-color: #c0cec5;*/
	/*background-image: url(../../img/sidenav_bg_a.jpg); */ }

.active {
    margin-bottom: 0px;
    padding-bottom: 5px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10.5px;
    color: #333;
    line-height: 13px;
    font-weight: bold;
    text-decoration: none;
    text-transform: none;
    background-color: #a1ad8f; }

.menu1:hover { 
	width: 143px;
	background-color: #adba99;
	border-bottom: 1px solid #a8b495;
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 10.5px;
	color: #000;
	line-height: 13px;
	letter-spacing: 0px; 
	text-decoration: none; 
	text-transform: none;
	/*background-image:url(../../img/sidenav_bg_b.jpg);*/ }

.menu1_selec { 
	margin-bottom: 0px;
	padding-bottom: 5px;
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 10.5px;
	color: #333;
	line-height: 13px;
	font-weight: bold;	
	text-decoration: none; 
	text-transform: none;
	background-color: #a1ad8f;
	/*background-color: #3e6b4c;*/
	/*background-color: #7f8970;*/
	/*background-color: #9da9a1;*/
	/*color: #FFF;*/
	/*color: #000;*/
	/*background-image:url(../img/sidenav_bg_c.jpg);*/
	/*text-transform: uppercase;*/ }

.menu1_selec:hover {
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 10.5px;
	color: #000;
	/*color: #2C7357;*/
	/*color: #aec469;*/
	line-height: 13px;
	font-weight: bold;	
	text-decoration: none; 
	text-transform: none;
	background-color: #98a288;
	/*background-image:url(../img/sidenav_bg_c.jpg);*/ 
	/*color: #000;*/ }

a.submenu { 
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 10.5px;
	color: #3B5333;
	/*color: #cbe0cb;*/
	line-height: 13px;
	text-decoration: none;
	background-color: transparent; }

a.submenu:hover { 
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 10.5px;
	color: #2C7357;
	/*color: #aec469;*/
	line-height: 13px;
	background-color: #transparent;		
	text-decoration: underline;	 }

.menu1 {
	padding-top: 9px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	display: block;
	min-height: 18px; }

.menu1_selec {
	padding-top: 9px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	/*margin-bottom: 12px;*/
	display: block;
	min-height: 18px; }

.submenu {
	display: block;
	min-height: 18px;
	margin-left: 15px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 12px; }

.hide {
	display: none; }

.show {
	display: block; }

#scroll {
	height: 300px;
	background-color: #F2F2F2;
	overflow: auto; }
	
	
/* ----------------------- 2.5 FOOTER ------------------------------------------- */
	
.footer-wrap {
	top: 0px;
	/*top: -28px;*/
	position: relative;
	/*z-index: 1;*/ }

body.home .footer-wrap{
	top: 0px; 
	/*top: -60px;*/ }
		
.footer a {
	color: #aec469;
	/*color: #cbe0cb;*/
	/*color: #FFF;*/ }

.footer a:hover {
	text-decoration: underline; }	
		
.footer {
	overflow: hidden;
	text-align: left;
	color: #fff;
	position: relative;
	line-height: 17px;
	background-color: transparent;
	/*background: url(../images/bg-footer.png) center top no-repeat*/ }
		
.footer-content {
	height: 160px;
	padding: 48px 0 0 0px; }
	
.footer-tag {	
	font-size: 9px;
	color: #FFF;
	letter-spacing: 1px;
	text-transform: uppercase; }
	
.footer-address {
	color: #C3D2C2; }		
			
.footer-layer1 {
	width: 100%;
	height: 90px;
	margin-left: 0px;
	background-color: transparent; }
			
.footer-layer1-no1 {
	width: 165px; 
	margin-left: 13px;
	float: left;
	background: transparent; }
			
.footer-layer1-no2 {
	width: 255px;
	margin-left: 10px;
	float: left;
	background: transparent; }	
			
.footer-layer1-no2 p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #FFF;
	padding-bottom: 10px; }			
			
.footer-layer1-no3 {
	width: 135px;
	margin-left: 10px;
	float: left;
	background: transparent; }
			
.footer-layer1-no3 p {
	padding-bottom: 5px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 9px;
	color: #FFF;
	letter-spacing: 1px;
	text-transform: uppercase; }	
			
.socialmedia_1 {
	padding-bottom: 5px; }

.socialmedia_2 {
	padding-top: 1px; }					
			
.footer-layer1-no4 {
	width: 312px;
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 40px;
	float: left;
	background: transparent; }	
			
.footer-layer1-no4 p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #FFF;
	padding-bottom: 10px; }				
			
.footer-layer2 {
	width: 100%;
	margin-left: 206px;
	background-color: transparent;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #FFF; }
	