@charset "utf-8"; 

<!--MAIN BODY-->

.fnt_list_sm {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 22px; }
	
#twitter-widget-0 { 
	width: 230px !important; }	

<!--RIGHT RAIL-->

a.red:link {
	color: #005030;	}

.rightrail_wrap a:link {
	text-decoration: underline;
	color: #3B5333;
	background: transparent; }	
	
.rightrail_wrap a:visited {
	text-decoration: underline;
	color: #3B5333;
	background: transparent; }

.rightrail_wrap a:hover {
	text-decoration: underline;
	color: #2C7357;
	background: transparent;
	}	
	
.rightrail_wrap a:active {
	text-decoration: underline;
	color: #3B5333;
	background: transparent;
	}	
	
.rightrail_wrap {	
	width: 230px;
	float: left;
	/*background-color: #BDCBA7;*/
	}
	
.rightrail_content {
	width: 200px;
	padding-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	margin-bottom: 10px;
	background-color: #BDCBA7; }	
	
.rightrail_content_header {
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 10px;
	background-color: #BDCBA7;
	font-family: arial, serif;
	font-size: 13px;
	color: #2b3122;
	line-height: 16px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px; }			
	
.rightrail_content p {
	padding-bottom: 15px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #3B5333; }
	
.rightrail_content_lg {
	font-family: arial, serif;
	font-size: 15px;
	color: #3B5333;
	}
	
.rightrail_content ul {
	margin-left: 15px;
	margin-bottom: 20px;
	font-family: arial, sans-serif;
	font-size: 11px;
	color: #3B5333;
	line-height: 13px;
	}
	
.rightrail_content li {
	margin-bottom: 0px;
	line-height: 16px;
	}	
	
.rightrail_content_thumbnail {
	float: left;
	padding-right: 7px;
	}	
	
.rightrail_content_photo {
	float: left;
	padding-bottom: 7px;
	}	
	
.rightrail_content_picblock {
	float: left;
	width: 100%;
	padding-bottom: 10px;
	}	
	
<!--QUICKLINKS-->

a.red:link {
	color: #005030;
	}

.quicklinks a:link {
	text-decoration: underline;
	color: #3B5333;
	background: transparent;
	}	
	
.quicklinks a:visited {
	text-decoration: underline;
	color: #3B5333;
	background: transparent;
	}

.quicklinks a:hover {
	text-decoration: underline;
	color: #2C7357;
	background: transparent;
	}	
	
.quicklinks a:active {
	text-decoration: underline;
	color: #3B5333;
	background: transparent;
	}	

.quicklinks {
	width: 198px;
	padding-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	margin-bottom: 10px;
	float: left;
	background-color: #e5e8d5;
	/*background-color: #F2F5E1;*/
	border: 1px solid #DFE2D0;
	}
	
.quicklinks p {
	padding-bottom: 15px;
	line-height: 14px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #3B5333;
	}	
	
.quicklinks ul {
	margin-left: 15px;
	margin-bottom: 10px;
	font-family: arial, sans-serif;
	font-size: 11px;
	color: #3B5333;
	line-height: 13px;
	}
	
.quicklinks li {
	margin-bottom: 0px;
	line-height: 16px;
	}	

.quicklinks_header {
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 10px;
	background-color: transparent;
	font-family: arial, serif;
	font-size: 13px;
	color: #2b3122;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	}
	
<!--AT A GLANCE-->	

.ataglance a,a:active  {
	text-decoration: underline;
	color: #3B5333;
	background: transparent; }	
	
.ataglance a:hover {
	text-decoration: underline;
	color: #2C7357;
	background: transparent; }	
	
.ataglance {
	width: 198px;
	padding-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	margin-bottom: 10px;	
	background-color: #e5e8d5;	
	/*background-color: #F2F5E1;*/
	border: 1px solid #DFE2D0;
	}
	
.ataglance p {
	padding-bottom: 15px;
	line-height: 14px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #3B5333;
	}	

.ataglance_header {
	margin-bottom: 15px;
	background-color: transparent;
	font-family: arial, serif;
	font-size: 13px;
	color: #2b3122;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	}