/* ----------------------- 1.1	RESET ----------------------------------------- */	

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background-color: transparent; }
	
body {
	line-height: 1; }
	
ol, ul { list-style: none; }
	

/* ----------------------- 1.2	ACCESSIBILITY NAVIGATION ----------------------- */	

#accessibility-nav {
	position: absolute;
	left: -1000em;
	text-align: left; }


/* ----------------------- 1.3	DEFAULT STYLES --------------------------------- */	

body {
	background-color: #F2F5E1;
	/*background-color: #042e14;*/
	/*text-align: center;*/
	/*color: #3b3b3b;*/	}

a, a:active {
	color: #516B36;
	/*color: #516B36;*/
	/*color: #aec469;*/
	/*color: #648344;*/
	text-decoration: none; 	}
	
a:hover {
	color: #005130;
	text-decoration: underline;	} 
	

/* ----------------------- 2.0 LAYOUT ------------------------------------------ */	

.overlay {
	position: absolute; 
	left: 0; 
	top: 0; 
	background-color: #000; 
	filter:alpha(opacity=90); 
	-moz-opacity:.90; opacity:.90 }	
	
.hidden_nav { 
	display: none; }	
	
div.header, div.footer, div.content-inside { 
	width: 960px;
	/*height: 100%;*/ 
	font-size: 1.2em;  
	margin: 0 auto; }			

div.content-wrap {
	background-color: #f2f5e1;
	text-align: left; }
		
div.footer-wrap { 
	padding-bottom: 40px;
	text-align: left;
	background-color: #2e513a;
	/*background-color: #2e513a;*/ 
	/*background-color: #042e14;*/
	/*position: relative;*/ }
	
input.input-text {
	background-color: #b2c794; 
	color: #124f31; 
	border: none; }
	
div.aside div.other-links {
	border-left: 2px solid #728e53;
	padding-left: 14px;
	clear: both; }
		
div.aside div.other-links ul {
	margin-bottom: 0px;
	top: -2px; }

div.aside div.other-links li {
	float: none;
	width: auto !important;
	margin-bottom: 0;
	font-size: 14px; }

div.aside div.other-links a {
	font-size: 16px;
	line-height: 22px; }
								

/* ----------------------- 2.1 LAYOUT ------------------------------------------- */
	
div.top-nav {
	height: 30px;
	margin-bottom: 0px;		
	overflow: hidden;
	position: relative;
	right: 0px;
	background-color: #F2F5E1; }

div.top-nav ul {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #000;
	width: 610px;
	margin-left: 335px; 
	margin-top: 2px; }
			
div.top-nav li {
	display: block;
	float: left;
	margin-right: 7px;
	padding-top: 7px }
				
div.top-nav li.last, div.top-nav li.search {
	margin-right: 0; }
				
div.top-nav li.last a {
	border: 0; }	
				
div.top-nav li a {
	float: left;
	display: block;
	border-right: 1px solid #b2c794; 
	padding-right: 7px;
	color: #005130; }	
			
div.top-nav li form {
	width: 154px;
	height: 19px;
	overflow: hidden;
	position: absolute;
	float: left;
	top: 5px;
	right: 0px; }
				
div.top-nav li form input.input-text {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	letter-spacing: 0px;
	width: 133px;
	height: 19px;
	padding-left: 6px;
	float: left; }
				
div.top-nav li form #bt-search {
	width: 14px;
	height: 19px; 
	float: left; }		

div.header {
	padding-bottom: 0px;
	background-color: #8FAF6E;
	/*background-color: #8FAF6E;*/
	position: relative;
	z-index: 99; }
		
div.header img {				
	display: block; }
	
.toplogo {
	width: 577px; }
	
.giving-orange {
	color: #b25614;
	font-weight: bold; }	
	
/* ----------------------- 2.2 CONTENT ------------------------------------------- */
div.content-main {
	background: url(http://www.law.miami.edu/_ui/images/bg-gradient.png) repeat-x;
	text-align: left;
	position: relative;
	z-index: 1px; }
		
body.home div.content-main{
	padding: 15px 0 0px 13px; 	
	/*padding: 15px 0 15px 13px;*/ }	
		
div.content-main:after { 
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; }	
		
body.home div.content{
	width: 425px;
	float: left;
	background: transparent;
	padding-bottom: 10px; }
		
body.home div.flash-top {
	width: 425px;
	height: 437px;
	background: transparent;
	margin-bottom: 0px; }	

.announcement1 {
	padding: 10px;
	margin-bottom: 20px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
	background-color: #dfe2d1; }
		
.announcement1-content {
	padding: 17px; 
	background-color: #FFF; }
		
.announcement1 p {
	padding-bottom: 20px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 16px; }
		
.announcement2 {
	width: 425px;
	height: 120px;
	padding-bottom: 10px;
	background-color: transparent;
	/*background: #dfe2d1;*/
	/*background: #b3c2a2;*/ }
		
.announcement2-content {
	background-color: #F2F5E1; }		
		
.announcement2-left {
	width: 129px;
	height: 110px;
	margin-right: 10px;
	background-color: transparent;
	float: left; }
		
.announcement2-right {
	width: 276px;
	padding-right: 10px;
	background-color: transparent;
	float: left; }
	
.announcement2 p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #000;
	line-height: 16px; }
		
.announcement3 {
	width: 425px;
	margin-bottom: 40px;
	background-color: transparent;
	/*background: #dfe2d1;*/
	/*background: #b3c2a2;*/ }
						
.announcement3 p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #000;
	line-height: 16px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #F2F5E1; }		

				
/* ----------------------- 2.3 NEWS & EVENTS SIDEBAR -------------------------------- */	
				
/* div layer level 0 for news, events, multimedia boxes */
body.home div.aside {
	width: 519px;
	float: right;
	position: relative;
	/*z-index: 100;*/ }

/* div layer level 1 on top of div.aside */
.bricks-wrap {
	width:  487px;
	position: relative;
	top: -5px;
	background: url(http://www.law.miami.edu/images/bg-onthebricks1.png) top center repeat;
	/* background: url(http://www.law.miami.edu/images/bg-onthebricks.png) top center no-repeat; */
	padding: 9px 16px 0 }	
	
/* div layer level 2 on top of .bricks-wrap */
.bricks-content {
	border: 0px solid #b3c2a2;
	padding: 17px 17px 17px 17px;
	position: relative;
	background-color: #EAEDEC;
    /*  background: url(http://www.law.miami.edu/images/bg-patern-onthebricks.png) left -1px } */ }
		
/* div layer level 3 on top of .bricks-content */
.bricks-box {
	border: 0px solid #c4d0b8;
	background: transparent;
	margin-bottom: 0px;
	overflow: hidden }	
	
/* controls storm box properties */		 
.news-events .storm {
	padding-left: 14px;
	padding-right: 17px;
	padding-top: 17px;
	padding-bottom: 17px;
	margin-bottom: 17px;
	background-color: #f7a570; }	
		
/* controls text properties on storm box */
.news-events .storm p {
	padding-bottom: 15px;
	border-bottom: 0px dotted #c4d0b8;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
	background-color: transparent; }
	
.news-events .storm h3 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 23px;
	background-color: transparent; }	
				
/* controls news box properties */		 
.news-events .news {
	padding-left: 14px;
	padding-right: 17px;
	padding-top: 17px;
	padding-bottom: 17px;
	background-color: #FFF; }	
		
/* controls text properties on news box */
.news-events .news p {
	padding-bottom: 15px;
	border-bottom: 0px dotted #c4d0b8;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
	background-color: #FFF; }	
			
.news-events .news h2 {
	padding-bottom: 20px;
	border-bottom: 0px dotted #c4d0b8;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 19px;
	line-height: 23px;
	background-color: #FFF; }	
			
.news-tag {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 9px;
	color: #959a9e;
	font-weight: bold;
	letter-spacing: 1px; }
		
/* controls news homepage thumbnails */	
.news-thumb {
	float: left; 
	padding-right: 10px; }
		
/* controls events box properties */
.news-events .events {
	padding-left: 14px;
	padding-right: 0px;
	padding-top: 30px;
	padding-bottom: 17px;
	border: 0px solid #e3e8dd;
	background: transparent;
	/*background: #eaedec;*/ }
			
/* controls text properties on events box */
.news-events .events p {
	margin-bottom: 0px;
	padding-bottom: 14px;
	border-bottom: 0px dotted #c4d0b8;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 16px; }
			
.news-events .events-header {
	width: 100%; }
			
.news-events .events-container1 {
	width: 100%;
	height: 60px;
	margin-bottom: 0px; }

.news-events .events-container2 {
	width: 100%;
	height: 60px;
	margin-bottom: 0px; }
			
.news-events .events-left {
	width: 205px;
	float: left; }
			
.news-events .events-right {
	width: 205px;
	float: right;
	margin-top: 0px; }	
			
.news-events .events-footer {
	width: 100%; }	
			
.news-events .events-footer p {
	padding-top: 3px;
	padding-bottom: 3px;
	border-top: 0px dotted #c4d0b8;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 16px; }	
			
/* controls news homepage thumbnails */	
.events-thumb {
	padding-top: 5px; }	
			
.events-date {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 9px;
	color: #333;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase; }	

/* controls FYI box properties */
.news-events .fyi {
	padding-left: 14px;
	padding-bottom: 17px;
	/*background-color: transparent;*/
	background-color: #EAEDEC; }
			
.news-events .fyi p {
	padding-bottom: 20px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
	background-color: #EAEDEC; }
	
/* controls Photos box properties */
.news-events .photos_hm {
	padding-left: 14px;
	padding-bottom: 17px;
	/*background-color: transparent;*/
	background-color: #EAEDEC; }

/* decorative bottom-most portion of news/events box */
.bricks-bottom {
	display: block;
	height: 20px;
	width: 519px;
	position: relative;
	top: -5px;		
	background: url(http://www.law.miami.edu/_ui/images/bg-bottom-onthebricks.png) top center no-repeat }
			

/* ----------------------- 2.4 FOOTER ------------------------------------------- */         
	
.footer-wrap {
	top: -28px;
	position: relative;
	/*z-index: 1;*/ }

body.home .footer-wrap{
	top: 0px; 
	/*top: -60px;*/ }
		
.footer a {
	color: #aec469;
	/*color: #cbe0cb;*/
	/*color: #FFF;*/ }

.footer a:hover {
	text-decoration: underline; }	
		
.footer {
	overflow: hidden;
	text-align: left;
	color: #fff;
	position: relative;
	line-height: 17px;
	background-color: transparent;
	/*background: url(http://www.law.miami.edu/images/bg-footer.png) center top no-repeat*/ }
		
.footer-content {
	height: 160px;
	padding: 48px 0 0 0px; }
	
.footer-tag {	
	font-size: 9px;
	color: #FFF;
	letter-spacing: 1px;
	text-transform: uppercase; }
	
.footer-address {
	color: #C3D2C2; }		
			
.footer-layer1 {
	width: 100%;
	height: 90px;
	margin-left: 0px;
	background-color: transparent; }
			
.footer-layer1-no1 {
	width: 165px; 
	margin-left: 13px;
	float: left;
	background: transparent; }
			
.footer-layer1-no2 {
	width: 255px;
	margin-left: 10px;
	float: left;
	background: transparent; }	
			
.footer-layer1-no2 p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #FFF;
	padding-bottom: 10px; }			
			
.footer-layer1-no3 {
	width: 135px;
	margin-left: 10px;
	float: left;
	background: transparent; }
			
.footer-layer1-no3 p {
	padding-bottom: 5px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 9px;
	color: #FFF;
	letter-spacing: 1px;
	text-transform: uppercase; }	
			
.socialmedia_1 {
	padding-bottom: 5px; }

.socialmedia_2 {
	padding-top: 1px; }					
			
.footer-layer1-no4 {
	width: 312px;
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 40px;
	float: left;
	background: transparent; }	
			
.footer-layer1-no4 p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #FFF;
	padding-bottom: 10px; }				
			
.footer-layer2 {
	width: 100%;
	margin-left: 206px;
	background-color: transparent;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #FFF; }
	